.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  border-radius: 0.4rem;
}

.inputRow {
  display: flex;
  align-items: flex-end;
  column-gap: .3rem;
  justify-content: space-between;
}

.radioRow {
  margin-top: .2rem;
  
}