@font-face {
  font-family: 'Limerick-Serial';
  src: url('../fonts/Limerick-Serial-Bold.woff2') format('woff2'),
  url('../fonts/Limerick-Serial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
