.page-footer {
  font-size: 12px;
  padding: 22px 0;
}

.page-footer p {
  font-size: 12px;
  color: #4a4441;
  text-align: center;
  margin: 0;
  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.page-footer a {
  color: inherit;
}