html {
  min-height: 100vh;
  color: #bdc1c6;
  font-size: 14px;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  background: #0b0b0d url("../images/hustle-level-bg.jpg") no-repeat 50%/cover;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 0 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}