<form id="calc" class="form">
    <label class="calc-label calc-item">
        <span>Souls required:</span>
        <input type="number" name="needSoulInp" value="0">
    </label>
    <label class="calc-label calc-item">
        <span>Available souls:</span>
        <input type="number" name="availableSoulInp" value="0">
    </label>
    <label class="calc-label calc-item">
        <span>Farm floor:</span>
        <select name="portalFloorSel">
            <option value="0" data-apple="0" data-reward="0" selected disabled></option>
            <option value="1" data-apple="1500" data-reward="2">1</option>
            <option value="2" data-apple="2200" data-reward="3">2</option>
            <option value="3" data-apple="3000" data-reward="5">3</option>
            <option value="4" data-apple="3700" data-reward="7">4</option>
            <option value="5" data-apple="4400" data-reward="9">5</option>
            <option value="6" data-apple="5200" data-reward="11">6</option>
            <option value="7" data-apple="5900" data-reward="13">7</option>
            <option value="8" data-apple="6900" data-reward="15">8</option>
            <option value="9" data-apple="7400" data-reward="17">9</option>
            <option value="10" data-apple="8100" data-reward="19">10</option>
            <option value="11" data-apple="8800" data-reward="21">11</option>
            <option value="12" data-apple="9600" data-reward="23">12</option>
            <option value="13" data-apple="10300" data-reward="25">13</option>
            <option value="14" data-apple="1100" data-reward="27">14</option>
            <option value="15" data-apple="11800" data-reward="30">15</option>
            <option value="16" data-apple="12500" data-reward="30">16</option>
            <option value="17" data-apple="12900" data-reward="32">17</option>
            <option value="18" data-apple="13300" data-reward="34">18</option>
            <option value="19" data-apple="13700" data-reward="36">19</option>
            <option value="20" data-apple="14100" data-reward="38">20</option>
            <option value="21" data-apple="14500" data-reward="40">21</option>
            <option value="22" data-apple="14900" data-reward="42">22</option>
            <option value="23" data-apple="15300" data-reward="44">23</option>
            <option value="24" data-apple="15700" data-reward="46">24</option>
            <option value="25" data-apple="16100" data-reward="48">25</option>
            <option value="26" data-apple="16500" data-reward="50">26</option>
            <option value="27" data-apple="16900" data-reward="52">27</option>
            <option value="28" data-apple="17300" data-reward="54">28</option>
            <option value="29" data-apple="17700" data-reward="56">29</option>
            <option value="30" data-apple="18100" data-reward="58">30</option>
            <option value="31" data-apple="18500" data-reward="60">31</option>
            <option value="32" data-apple="18900" data-reward="64">32</option>
            <option value="33" data-apple="19400" data-reward="68">33</option>
            <option value="34" data-apple="19800" data-reward="72">34</option>
            <option value="35" data-apple="20200" data-reward="76">35</option>
            <option value="36" data-apple="20700" data-reward="80">36</option>
            <option value="37" data-apple="21100" data-reward="84">37</option>
            <option value="38" data-apple="21500" data-reward="88">38</option>
            <option value="39" data-apple="22000" data-reward="92">39</option>
            <option value="40" data-apple="22400" data-reward="96">40</option>
            <option value="41" data-apple="22800" data-reward="100">41</option>
            <option value="42" data-apple="23300" data-reward="104">42</option>
            <option value="43" data-apple="23700" data-reward="108">43</option>
            <option value="44" data-apple="24100" data-reward="112">44</option>
            <option value="45" data-apple="24600" data-reward="116">45</option>
            <option value="46" data-apple="25000" data-reward="120">46</option>
            <option value="47" data-apple="25800" data-reward="128">47</option>
            <option value="48" data-apple="26700" data-reward="136">48</option>
            <option value="49" data-apple="27500" data-reward="144">49</option>
            <option value="50" data-apple="28300" data-reward="152">50</option>
            <option value="51" data-apple="29200" data-reward="160">51</option>
            <option value="52" data-apple="30000" data-reward="168">52</option>
            <option value="53" data-apple="30800" data-reward="176">53</option>
            <option value="54" data-apple="31700" data-reward="184">54</option>
            <option value="55" data-apple="32500" data-reward="192">55</option>
            <option value="56" data-apple="33300" data-reward="200">56</option>
            <option value="57" data-apple="34200" data-reward="208">57</option>
            <option value="58" data-apple="35000" data-reward="216">58</option>
            <option value="59" data-apple="35800" data-reward="224">59</option>
            <option value="60" data-apple="36700" data-reward="232">60</option>
            <option value="61" data-apple="37500" data-reward="240">61</option>
            <option value="62" data-apple="38400" data-reward="254">62</option>
            <option value="63" data-apple="39300" data-reward="267">63</option>
            <option value="64" data-apple="40300" data-reward="281">64</option>
            <option value="65" data-apple="41200" data-reward="295">65</option>
            <option value="66" data-apple="42100" data-reward="308">66</option>
            <option value="67" data-apple="43000" data-reward="322">67</option>
            <option value="68" data-apple="43900" data-reward="336">68</option>
            <option value="69" data-apple="44900" data-reward="349">69</option>
            <option value="70" data-apple="45800" data-reward="363">70</option>
            <option value="71" data-apple="46700" data-reward="377">71</option>
            <option value="72" data-apple="47600" data-reward="391">72</option>
            <option value="73" data-apple="48600" data-reward="404">73</option>
            <option value="74" data-apple="49500" data-reward="418">74</option>
            <option value="75" data-apple="50400" data-reward="432">75</option>
            <option value="76" data-apple="51300" data-reward="445">76</option>
            <option value="77" data-apple="52200" data-reward="459">77</option>
            <option value="78" data-apple="53200" data-reward="473">78</option>
            <option value="79" data-apple="54100" data-reward="486">79</option>
            <option value="80" data-apple="55000" data-reward="500">80</option>
            <option value="81" data-apple="56000" data-reward="510">81</option>
            <option value="82" data-apple="56900" data-reward="519">82</option>
            <option value="83" data-apple="57800" data-reward="528">83</option>
            <option value="84" data-apple="58700" data-reward="538">84</option>
            <option value="85" data-apple="59700" data-reward="547">85</option>
            <option value="86" data-apple="60600" data-reward="557">86</option>
            <option value="87" data-apple="61500" data-reward="567">87</option>
            <option value="88" data-apple="62500" data-reward="576">88</option>
            <option value="89" data-apple="63400" data-reward="586">89</option>
            <option value="90" data-apple="64300" data-reward="596">90</option>
            <option value="91" data-apple="65300" data-reward="605">91</option>
            <option value="92" data-apple="66200" data-reward="615">92</option>
            <option value="93" data-apple="67100" data-reward="625">93</option>
            <option value="94" data-apple="68000" data-reward="635">94</option>
            <option value="95" data-apple="69000" data-reward="645">95</option>
            <option value="96" data-apple="69900" data-reward="654">96</option>
            <option value="97" data-apple="70800" data-reward="664">97</option>
            <option value="98" data-apple="71800" data-reward="674">98</option>
            <option value="99" data-apple="72700" data-reward="684">99</option>
            <option value="100" data-apple="73600" data-reward="695">100</option>
            <option value="101" data-apple="74600" data-reward="705">101</option>
            <option value="102" data-apple="75500" data-reward="715">102</option>
            <option value="103" data-apple="76400" data-reward="725">103</option>
            <option value="104" data-apple="77300" data-reward="735">104</option>
            <option value="105" data-apple="78300" data-reward="745">105</option>
            <option value="106" data-apple="79200" data-reward="756">106</option>
            <option value="107" data-apple="80100" data-reward="766">107</option>
            <option value="108" data-apple="81100" data-reward="776">108</option>
            <option value="109" data-apple="82000" data-reward="787">109</option>
            <option value="110" data-apple="82900" data-reward="797">110</option>
            <option value="111" data-apple="83900" data-reward="808">111</option>
            <option value="112" data-apple="84800" data-reward="818">112</option>
            <option value="113" data-apple="85700" data-reward="829">113</option>
            <option value="114" data-apple="86600" data-reward="840">114</option>
            <option value="115" data-apple="87600" data-reward="850">115</option>
            <option value="116" data-apple="88500" data-reward="861">116</option>
            <option value="117" data-apple="89400" data-reward="872">117</option>
            <option value="118" data-apple="90400" data-reward="882">118</option>
            <option value="119" data-apple="91300" data-reward="893">119</option>
            <option value="120" data-apple="92200" data-reward="904">120</option>
            <option value="121" data-apple="93200" data-reward="915">121</option>
            <option value="122" data-apple="94100" data-reward="926">122</option>
            <option value="123" data-apple="95000" data-reward="937">123</option>
            <option value="124" data-apple="95900" data-reward="948">124</option>
            <option value="125" data-apple="96900" data-reward="959">125</option>
        </select>
    </label>
    <label class="calc-label calc-item">
        <span>Soul catcher:</span>
        <select name="soulCatcherSel">
            <option value="0"></option>
            <option value="2">x2</option>
            <option value="3">x3</option>
        </select>
    </label>
    <label class="calc-label calc-item">
        <span>Soul flag (lvl):</span>
        <select name="soulBannerSel">
            <option value="0"></option>
            <option value="5">1</option>
            <option value="7">2</option>
            <option value="9">3</option>
            <option value="11">4</option>
            <option value="13">5</option>
            <option value="15">6</option>
            <option value="20">7</option>
            <option value="25">8</option>
            <option value="30">9</option>
            <option value="37">10</option>
            <option value="44">11</option>
        </select>
    </label>
    <label class="calc-label calc-item">
        <span>Hunters quarter (lvl):</span>
        <select name="soulQuarterSel">
            <option value="0"></option>
            <option value="4">1</option>
            <option value="5">2 / 3</option>
            <option value="7">4 / 5</option>
            <option value="9">6 / 7</option>
        </select>
    </label>
</form>

<div class="form-result">
    <p>Need apples for battles: <span id="resultApples"></span></p>
    <p>Need battles: <span id="resultBattles"></span></p>
</div>
