.head {
  padding: 1.5rem 0 1.4rem;
  color: var(--color-white);
  text-align: center;
}

.head  h1 {
  font-weight: 900;
}

.head  p {
  margin-top: 0.2rem;
  font-weight: 700;
}

.head h1, .head p {
  margin: 0;
}