.row {
  display: flex;
  align-items: center;
  grid-template-columns: auto;
  column-gap: 0.3rem;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  flex-grow: 1;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  display: block;
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
  height: 1.8rem;
  padding: 0 0.3rem;
  border-radius: 3px;
  background-color: var(--color-primary-500);
  border-style: solid;
  border-width: 3px 1px 1px 1px;
  border-color: var(--color-primary-600);
  color: var(--color-white);
  outline: none;
  text-indent: 0.1rem;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

:global(html:not(.compatibility-mode)) .input {
  -webkit-text-stroke: 4px var(--color-primary-600);
  paint-order: stroke fill;
}

.clearBtn {
  grid-column: 2 / 3;
  grid-row: 1;
  appearance: none;
  background: none;
  border: none;
  width: 1.6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.clearBtn svg {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(45deg);
  color: #9ce5ea;
  margin-top: 0.15em;
}

.label {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 700 !important;
  letter-spacing: -0.05rem !important;
  font-size: 0.875rem;
  margin-bottom: 0.145rem;
}
