.card {
  padding: .8rem;
  background-color: rgba(var(--color-black), 0.5);
  border-radius: 0.5rem;
  position: relative;
  max-width: 25rem;
}

.card::after {
  content: "";
  position: absolute;
  inset: .2rem;
  background-color: var(--color-primary-500);
  border-radius: 0.4rem;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}